.header__content {
    display: flex;
    justify-content: space-between;
    width: 87%;
    height: 32px;
    margin: 24px;
}

.header__content-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    gap: 1.2rem;
}

.fonts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-block: 3px;
    position: relative; 
    cursor: pointer;
}

svg {
    cursor: pointer;
}
.fonts__name {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-inputColor);
}

.dropdown-menu {
    position: absolute;
    background-color: var(--white);
    top: calc(100% + 5px);
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid var(--bar);
    padding: 10px;
    z-index: 1000;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    width: 100px;
    height: 80px;
}

.dropdown-menu ul li {
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 600;
}

.rectangle {
    display: flex;
    height: 32px;
    font-weight: 400;
    color: var(--bar);
}

.toggle {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

/* Toggle button styles */
.toggle-btn {
    position: relative;
    display: inline-block;
    width: 30px; 
    height: 14px; 
  }
  
  .toggle-btn input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    transition: .4s;
    border-radius: 7px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px; 
    width: 10px; 
    left: 2px; 
    bottom: 2px; 
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: var(--active-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(14px); 
  }

  svg#moon path {
    stroke: #838383;
  }

  /* 
  ====================
  HOVERING EFFECTS
  ====================
  */
  .dropdown-menu ul li:hover{
    color: var(--active-color);
  }


  
  /* 
  ===========================
  MEDIA QUERIES
  ======================== */
@media (min-width:1024px){
    .header__content {
        max-width: 768px;
    }


}