.main-container {
    width: 100%;
    height: 100vh;
    margin: auto;
}


  /* 
  ===========================
  MEDIA QUERIES
  ======================== */
@media (min-width:768px){
    .main-container {
        max-width: 768px;
    }


}